html{
    background: url(img_colourful.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main{
    display: flex;
    width: 100%;
}
.text-line{
    border: 6px solid indigo;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    flex-direction: column;

    max-width: 100%;

}

p{
    margin: 20px;
    text-align: justify;

}
